<html>
<head>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-textcomplete/dist/jquery.textcomplete.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock%}
</head>
<body>
    {% include 'elements/loggedbar.twig' %}
    <div class="container">
        {% block content %}
        {% endblock %}
        <div class="col-md-12 well">
            Autores:
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://twitter.com/ediar">@ediar</a></li>
                    <li><a target="_blank" href="http://twitter.com/muevecubos">@muevecubos</a></li>
                </ul>    
        </div>
    </div>
</body>
</html>
