<html>
<head>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-textcomplete/dist/jquery.textcomplete.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
        }
    </style>
</head>
<body>

    <script type="text/javascript" data-main='js/app.js' src="../../bower_components/jquery/dist/jquery.min"></script>
    <script>

    jQuery(document).ready(function() {
            jQuery('form').submit(function(e) {
                e.preventDefault();
                jQuery.post('gethash/'+$('#userName').val(),function(data) {
                        jQuery('#form').remove();
                        
                            if(data !== 'fail') {
                        jQuery('#link').html('<p>Link para acceder a la wantlist </p><a href="'+data+'#want" class="btn btn-success">WantList</a>');

                            } else {
                                jQuery('#link').html('Usuario No participante en la mathtrade');
                            }
                    }
            );
        });
    });
    </script>

<div class="container">
    <div class="jumbotron">
      <h1>Mathtrade Helper</h1>
       <form id="form">
            <p>
                Introduce tu nombre de usuario en laBSK para obtener link de gestión de tu wantlist
            </p>
            <input type="text" id="userName" class="" name="userName"/>
            <input type="submit" value="Obtener Link" class="btn btn-primary btn-sm" id="submit"/>
           
        </form>
        <div id="link">

        </div>
    </div>
    <div class="col-md-6">
            hola
    </div>
    <div class="col-md-6">
            hola
    </div>
</div>
</body>
</html>
