<html>
<head>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-textcomplete/dist/jquery.textcomplete.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div>
    <script type="text/javascript" data-main='js/app.js' src="../../bower_components/jquery/dist/jquery.min"></script>
    <script>

    jQuery(document).ready(function() {
            jQuery('form').submit(function(e) {
                e.preventDefault();
                jQuery.post('gethash/'+$('#userName').val(),function(data) {
                        jQuery('#link').html('<p>Link para acceder a la wantlist </p><a href="'+data+'#want">WantList</a>');

                    }
            );
        });
    });
    </script>
</div>
<h1>Landing!!</h1>
<form >
    <input type="text" id="userName" name="userName"/>
    <input type="submit" value="Obtener Link" id="submit"/>
</form>
<div id="link">

</div>


</body>
</html>
