<html>
<head>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-textcomplete/dist/jquery.textcomplete.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
        }
    </style>
</head>
<body>

    <script type="text/javascript" data-main='js/app.js' src="../../bower_components/jquery/dist/jquery.min"></script>
    <script>

    jQuery(document).ready(function() {
            jQuery('form').submit(function(e) {
                e.preventDefault();
                jQuery.post('gethash/'+$('#userName').val(),function(data) {
                        jQuery('#form').remove();
                        
                            if(data !== 'fail') {
                        jQuery('#link').html('<p>Link para acceder a la wantlist </p><a href="'+data+'#list" class="btn btn-success">WantList</a>');

                            } else {
                                jQuery('#link').html('Usuario No participante en la mathtrade');
                            }
                    }
            );
        });
    });
    </script>

<div class="container">
    <div class="jumbotron">
      <h1>Mathtrade Helper</h1>
       <form id="form">
            <p>
                Introduce tu nombre de usuario en laBSK para obtener link de gestión de tu wantlist
            </p>
            <input type="text" id="userName" class="" name="userName"/>
            <input type="submit" value="Obtener Link" class="btn btn-primary btn-sm" id="submit"/>
           
        </form>
        <div id="link">

        </div>
    </div>
    <div class="col-md-6">
        <h3>¿Para que sirve?</h3>
        <p>
            La utilidad pretende algún día que la Mathtrade pueda hacerse integramente en ella (salvo el programa que realiza los cambios). A día de hoy su principal utilidad es la de facilitar la creación de WantLists y verificar que no la hemos liadol A parte también es muy útil para ver y filtrar los items de la MT.
        </p>
        <ul>
            <li>Ver la lista de juegos de la MT</li>
            <li>Filtrar los juegos que no nos interesan</li>
            <li>Filtrar los juegos que sí nos interesan</li>
            <li>Crear wantlists con drag & drop para ordenar</li>
            <li>Creación de comodínes</li>
            <li>Persistencia podemos reanudar la tarea cuando queramos a través del enlace único.</li>
            <li><span class="label label-success">NEW!</span>Exclusión masiva, excluye todos los juegos desde el inicio hasta el que te interesa con un solo click.</li>

        </ul>

    </div>
    <div class="col-md-6">
        <h3>¿Como funciona?</h3>
        <p>
            Al ser una BETA casi ALFA la aplicación no es todo lo intuitiva que debería. Échale un ojo a este vídeo para aprender rápidamente como funciona.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GNVk1dko6YM" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-12 well">
        Autores:
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://twitter.com/ediar">@ediar</a></li>
                <li><a target="_blank" href="http://twitter.com/muevecubos">@muevecubos</a></li>
            </ul>    
    </div>
</div>
</body>
</html>
