<html>
<head>
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="components/jquery-textcomplete/dist/jquery.textcomplete.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
    <script type="text/javascript" src="components/jquery/dist/jquery.min"></script>

    <div class="container">
        <div class="well">
          <h1>Mathtrade Helper</h1>
            <p>
                Registrate en la aplicación a ser posible usando el mismo nombre de usuario que en LaBSK aunque no es imprescindible.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <h2>Identifícate</h2>
                    <p>
                        Utiliza tu nombre de usuario o email para identificarte en la herramienta.
                    </p>
                    <form method="POST" class="form-horizontal col-md-8">
                        <div class="form-group">
                            <label for="user">Nombre de usuario</label>
                            <input type="text" class="form-control" name="user"/>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Contraseña</label>
                            <input type="password" class="form-control" name="pwd"/>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-sm" id="login"/>
                       
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>Regístrate</h2>
                    <p>
                Registrate en la aplicación a ser posible usando el mismo nombre de usuario que en LaBSK aunque no es imprescindible.
                    </p>
                    <form method="POST" class="form-horizontal col-md-8">
                        <div class="form-group">
                            <label for="user">Nombre de usuario</label>
                            <input type="text" class="form-control" name="user"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Contraseña</label>
                            <input type="password" class="form-control" name="pwd"/>
                        </div>
                        <div class="form-group">
                            <label for="pwd_repeat">Repetir Contraseña</label>
                            <input type="password" class="form-control" name="pwd_repeat"/>
                        </div>
                        <input type="submit" value="Registrarse" class="btn btn-primary btn-sm" id="resgister"/>
                       
                    </form>
                </div>
            </div>
           
            <div id="link">

            </div>
        </div>
        
        <div class="col-md-12 well">
            Autores:
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://twitter.com/ediar">@ediar</a></li>
                    <li><a target="_blank" href="http://twitter.com/muevecubos">@muevecubos</a></li>
                </ul>    
        </div>
    </div>
</body>
</html>
